/* Credit goes to http://www.cssstickyfooter.com */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 35px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -35px; /* negative value of footer height */
	height: 35px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}