body {
	background: #F0F0F0;
}

#box {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 35em;
	padding: 1em;
	background: white;
}

.rounded-corners {
	border-radius: 20px;
}

#footer {
	float: right;
	padding-right: 1em;
}




html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 45px; /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -45px; /* negative value of footer height */
	height: 45px;
	clear: both;
}
